{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'stylebase.css' %}">
    <link rel="stylesheet" href="{% static 'menu.css' %}">
    <link rel="stylesheet" href="{% static 'plated.css' %}">
    <link rel="stylesheet" href="{% static 'recipe_input.css' %}">

    {% block style %}
    {% endblock %}
    <title>BQT Menu Selector</title>
</head>

<body>
    <nav class="nav">
        <div class="navcon">
            <h1 class="logo"><a href="{% url 'index' %}">InterContinental BQT Menus</a></h1>
            <ul>
                <li><a href="{% url 'breakfast' %}">Breakfast</a></li>
                <li><a href="{% url 'ddrbreaks' %}">DDR Breaks</a></li>
                <li><a href="{% url 'dishes' %}">Plated Menus</a></li>
                {% if user.is_staff %}
                <!--<li><a href="">Madera</a></li>-->
                {% endif %}

                <li><a href="{% url 'menus' %}">Menus </a></li>
                <li><a href="{% url 'plated' %}">Recipes</a></li>

                {% if request.user|has_group:"bqt" %}
                <li><a href="{% url 'menu_input' %}">Input menu</a></li>
                <li><a href="{% url 'suggested' %}">Dish Suggestions</a></li>
                {% endif %}
                {% if request.user|has_group:"chef" %}
                <li><a href="{% url 'recipe_input' %}">Input Recipe</a></li>
                <li><a href="{% url 'dish_input' %}">Input Dish</a></li>
                <li><a href="{% url 'menu_input' %}">Input menu</a></li>
                {% endif %}
                {% if request.user|has_group:"sommelier" %}
                <li><a href="{% url 'beverage' %}">Input Beverage</a></li>
                <li><a href="{% url 'drinks_data' %}">Beverage</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="{% url 'login_user' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% else %}
                <li><a href="{% url 'logout_user' %}">Logout</a></li>
                {% endif %}
                <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a></li>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="container">
            <h1>Welcom to InterContinental BQT Menus info</h1>
            {% if not user.is_authenticated %}

            {% else %}
            <h3>Hello <p>{{user_title}}</p>
                <p>{% filter upper %} {{user}} {% endfilter %}</p>
            </h3>
            {% endif %}
        </div>
    </div>
    {% block body %}

    {% endblock %}

    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'menu.js' %}"></script>

    <script src="{% static 'plated.js' %}"></script>
    <script src="{% static 'menu_input.js' %}"></script>
    <script>
        function myFunction() {
            var x = document.querySelector(".nav");
            if (x.className === "nav") {
                x.className += " responsive";
            } else {
                x.className = "nav";
            }
        }
    </script>
</body>

</html>