{% extends 'menus/base.html' %}
{% block style %}
<style>
    #ddr-container {
        width: 60vw;
        box-shadow: 0 2px 4px rgba(0, 1, 1, 0.7);
        text-align: center;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a {
        list-style-type: none;
        text-decoration-line: none;
    }

    #ddr li {
        font-size: 20px;
        line-height: 22px;
    }
</style>
{% endblock %}
{% block body %}

<div class="input" id="ddr-container">
    <ul id="ddr">
        <p>Wine</p>
        {% for w in wine %}
        <a href="{% url 'drink_detail' w  %}">
            <li>{{w}}</li>
        </a>
        {% endfor %}
        <p>Champagnes</p>
        {% for ch in champagnes %}
        <a href="{% url 'drink_detail' ch  %}">
            <li>{{ch}}</li>
        </a>
        {% endfor %}
        <p>Spirits</p>
        {% for s in spirits %}
        <a href="{% url 'drink_detail' s  %}">
            <li>{{s}}</li>
        </a>
        {% endfor %}
        <p>Beers</p>
        {% for b in beers %}
        <a href="{% url 'drink_detail' b  %}">
            <li>{{b}}</li>
        </a>
        {% endfor %}
        <p>Softdrinks</p>
        {% for soft in softdrinks %}
        <a href="{% url 'drink_detail' soft  %}">
            <li>{{soft}}</li>
        </a>
        {% endfor %}
        <p>Teas</p>
        {% for t in tea %}
        <a href="{% url 'drink_detail' t  %}">
            <li>{{t}}</li>
        </a>
        {% endfor %}
        <p>Coffees</p>
        {% for c in coffee %}
        <a href="{% url 'drink_detail' c  %}">
            <li>{{c}}</li>
        </a>
        {% endfor %}
    </ul>
</div>
<script>

</script>
{% endblock %}