{% extends 'menus/base.html' %}
{% block style %}

<style>
    #id_brand {
        background-color: #fff;
        transform: scale(100%);
    }

    #submit-btn {
        background-color: #f1f1f1f1;
        box-shadow: 0 0 3px rgba(0, 0, 1, 0.9);
        margin-top: 10px;

    }
</style>
{% endblock %}
{% block body %}
{% if title %}
<h3>Beverige suggetion for <strong>{{title}}</strong></h3>
{% else %}
<h3>Please Input Your Beverige Data</h3>
{% endif %}
<div class="input">
    <form action="{% url 'beverage' %}" method="POST" enctype="multipart/form-data"
        style="display: flex;flex-direction: column;">
        {% csrf_token %}
        {{form}}
        {{form1}}

        <input type="submit" style="margin-top: 10px;" id="submit-btn">

    </form>

</div>
<script>
    const titleInput = document.getElementById('id_title')
    const nameInput = document.getElementById('id_name')
    var labels = document.getElementsByTagName('LABEL')

    nameInput.hidden = true
    for (var i = 0; i < labels.length; i++) {
        if (labels[i].htmlFor != '') {
            var elem = document.getElementById(labels[i].htmlFor);

            if (elem)
                elem.label = labels[i];

            console.log(elem.label)
        }
    }

</script>
{% endblock %}