{% extends 'menus/base.html' %}
{% load static %}
{% block style %}
<style>
    body {
        margin-bottom: -250px;
    }

    .recipe {

        box-shadow: 0 2px 3px rgba(0, 0, 1, 0.5);
    }

    ul {
        text-decoration: none;
    }

    ul li {
        text-decoration: none;
    }

    .container-details {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    #for-dish {
        font-size: 24px;
        font-weight: bold;
    }

    .link-container {
        display: flex;

        justify-content: space-evenly;

        box-shadow: 0 0 3px rgba(0, 0, 1, 0.5);
        margin-bottom: 150px;
    }

    ul li {
        list-style-type: none;
    }

    .method {
        box-shadow: 0 0 3px rgba(0, 0, 1, 0.5);
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .editform {
        box-shadow: 0 0 3px rgba(0, 0, 1, 0.5);
        align-items: center;
    }

    #editform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        margin: 20px;
    }

    input {
        background-color: #fff;
        margin: 10px;
        width: 80%;
    }

    textarea {
        margin: 10px;
        width: 80%;
    }

    select {
        margin-left: 10px;
        width: 80%;
    }

    #form_title {
        transform: scale(100%);
    }

    #form_for_dish {
        transform: scale(100%);
    }

    .p {
        color: #000;
        font-size: 14px;
    }
</style>

{% endblock %}
{% block body %}
<div class="container-details">
    {% if img %}
    {% for i in img %}
    <a href="/media/{{i.image}}">
        <img id="pic" src="/media/{{i.image}}" alt=""></img>
        <p id="title"> {{i}}</p>
    </a>
    {% endfor %}
    {% else %}
    {% for t in data %}
    <p id="title">{{t.title}} </p>
    <p id="for-dish">For the: <span>{{t.for_dish}}</span></p>

    {% endfor %}
    {% endif %}
    <h4>Recipe</h4>
    <div class="recipe" id="recipes" style="box-shadow:0 2px 3px rgba(0, 0, 1, 0.5) ;">
        <ul>
            {% for i in ing %}
            <li>{{i}}</li>
            {% endfor %}
        </ul>

    </div>
    {% for title in data %}
    <p> Sub recipe to the Dish
        <span style="font-size: 20px;"> {{title.title}}</span>
    </p>
    {% endfor %}
    <div class="subrecipe" style="box-shadow:0 2px 3px rgba(0, 0, 1, 0.5) ;">

        {% for recipe in subrecipe %}
        <a id="link" href="{% url 'detail' recipe %}">
            <li>{{recipe}}</li>
        </a>


        {% endfor %}

    </div>

    <div class="method">
        <h4>Method</h4>
        {{method}}
    </div>

    <div class="contain">
        <h2>Contains:</h2>
        <div class="allergy" hidden></div>
        <div class="soya" hidden></div>
        <div class="peanuts" hidden></div>
        <div class="glutens" hidden></div>
        <div class="dairies" hidden></div>
        <div class="nuts" hidden></div>
        <div class="celery" hidden></div>
        <div class="crustaceans" hidden></div>
        <div class="fish" hidden></div>
        <div class="lupin" hidden></div>
        <div class="molluscs" hidden></div>
        <div class="mustard" hidden></div>
        <div class="sesame" hidden></div>
        <div class="sulphites" hidden></div>
    </div>

    <div class="drink">
        {% if drink %}
        <p>Suggested pairing dring is : <strong>{% for d in drink %} {{d}}, {% endfor %}</strong> </p>
        {% endif %}
    </div>
    <div class="link-container">

        {% for t in data %}
        <a href="{% url 'pairing' t %}">Pair this dish with Bevarige</a>

        {% if t.for_dish %}
        <a href="{% url 'delete_dish' t.for_dish %}">Delete Dish: <p class="p">{{t.for_dish}}</p></a>
        {% endif %}
        <a href="{% url 'delete_recipe' t %}">Delete Recipe: <p class="p">{{t}}</p></a>
        <a href="#" id="edit">Edit Recipe</a>
        {% endfor %}
        <a href="{% url 'plated' %}"> Back to recipes</a>
    </div>
</div>
<div class="editform" hidden>
    <form action="{% url 'edit_recipe'  %}" method="POST" id="editform">
        {% csrf_token %}
        <label for="Title">Title</label>
        <input id="form_title" type="text" name="title">
        <label for="Selector">Selector</label>

        <input type="text" id="selector" name="type">

        <label for="For Dish">For Dish</label>
        <input id="form_for_dish" type="text" name="for_dish">
        <label for="Recipe">"Recipe</label>
        <textarea name="recipe" id="recipe" cols="30" rows="10"></textarea>
        <label for="Method">Method</label>
        <textarea name="method" id="method" cols="30" rows="10"></textarea>
        <input id="btn" class="btn" type="submit">
    </form>
    <a href="#" id="return">Return back to the recipe!</a>
</div>

<script>
    const USER_LOGGED_IN = ('/logged_user')
    getLoggedInUser(USER_LOGGED_IN)
    const User_URL_info = ('/user_info')
    getUserData(User_URL_info)

    async function getLoggedInUser(url) {
        const res = await fetch(url)
        const data = await res.json()
        console.log(data)

    }

    async function getUserData(url) {
        const res = await fetch(url)
        const user = await res.json()

        console.log(user)
    }


    //const User = {{ user }}
    //console.log(User)
    const URL_EDIT_FORM = ('/edit-recipe')
    getDataForm(URL_EDIT_FORM)
    const title = document.getElementById('title').innerText
    const EditRecipe = document.getElementById('edit')
    const inputTitle = document.getElementById('form_title')
    const inputSelector = document.getElementById('selector')
    const input_For_Dish = document.getElementById('form_for_dish')
    const inputRecipe = document.getElementById('recipe')
    const inputMethod = document.getElementById('method')
    const EditBtn = document.getElementById('edit')
    const DivForm = document.querySelector('.editform')
    const DivDetails = document.querySelector('.container-details')
    const ReturnEl = document.getElementById('return')

    async function getDataForm(url) {
        const res = await fetch(url)
        const data = await res.json()
        data.forEach(recipe => {
            if (recipe.title == title) {
                inputTitle.value = recipe.title
                inputSelector.value = recipe.type
                input_For_Dish.value = recipe.dish
                inputRecipe.value = recipe.recipe
                inputMethod.value = recipe.method



                //console.log(recipe)
            }
        });



    }
    EditBtn.addEventListener('click', () => {
        DivDetails.style.display = 'none'
        DivForm.hidden = false

    })
    ReturnEl.addEventListener('click', () => {
        location.reload()
    })
</script>


{% endblock %}