{% extends 'menus/base.html' %}
{% block style %}
<style>
    body {
        margin-bottom: 50px;
    }

    form {
        font-family: inherit;
    }
    #id_title_dish{
        background-color: #fff;
       transform: scale(100%);
    }
    #id_image{
        transform: scale(100%);
    }
</style>
{% endblock %}
{% block body %}
<div class="input">
    <form action="{% url 'dish_input' %}" method="POST" enctype="multipart/form-data"
        style="display: flex;flex-direction: column;" id="dish-form">
        {% csrf_token %}
        {{form}}
        <p>Recipe for the dish</p>
        {{form1}}



        <input type="submit" style="margin-top: 10px;">

    </form>
    To Add more recipes to this dish click <a href="{% url 'recipe_input' %}" id="new-form">here</a>
    <script>
        const title = document.getElementById('id_title_dish')
        const ForDish = document.getElementById('id_for_dish')
        const DescEl = document.getElementById('id_description')
        const TitleEl = document.getElementById('id_title')
        const labelTitleEl = document.querySelector('[for=id_title]')
        const labelForDishEl = document.querySelector('[for=id_for_dish]')
       


        DescEl.addEventListener('keydown', () => {

            ForDish.placeholdes = title.value
            ForDish.value = title.value
            ForDish.hidden = true
            TitleEl.placeholdes = title.value
            TitleEl.value = title.value
            TitleEl.hidden = true
            labelForDishEl.hidden = true
            labelTitleEl.hidden = true
        })
        var NewForm = document.createElement('form')
        const NewFormLink = document.getElementById('new-form')

        var FormTextRecipe = document.createElement('textarea')
        var FormTextMethod = document.createElement('textarea')

        const FormEl = document.getElementById('dish-form')
  /*
        title.addEventListener('keydown', () => {
            ForDish.innerHTML = title.value
            console.log(ForDish)
            console.log(title.value)
        })
        ForDish.addEventListener('click', () => {
            ForDish.innerHTML = title.value
        })
      
        NewFormLink.addEventListener('click', () => {
            NewForm.innerHTML = ` <tr>
                        <th><label for="id_title">Title:</label></th>
                        <td><input type="text" name="title" maxlength="200" required id="id_title"></td>
                    </tr>
                    <tr>
                        <th><label for="id_selector">Selector:</label></th>
                        <td><select name="selector" required id="id_selector">
                                <option value="" selected>---------</option>

                                <option value="main">Main</option>

                                <option value="starter">Starter</option>

                                <option value="dessert">Dessert</option>

                                <option value="breakfast">Breakfast</option>

                                <option value="ddrbreaks">DDRbreaks</option>

                            </select></td>
                    </tr>
                    <tr>
                        <th><label for="id_for_dish">For dish:</label></th>
                        <td><input type="text" name="for_dish" maxlength="200" required id="id_for_dish"></td>
                    </tr>
                    <tr>
                        <th><label for="id_recipe">Recipe:</label></th>
                        <td><textarea name="recipe" cols="40" rows="10" required id="id_recipe">
                    </textarea></td>
                    </tr>
                    <tr>
                        <th><label for="id_method">Method:</label></th>
                        <td><textarea name="method" cols="40" rows="10" required id="id_method">`

            FormEl.appendChild(NewForm)
        })


*/

    </script>
</div>
{% endblock %}