{% extends 'menus/newbase.html' %}
{% load static %}
{% block style %}

<style>
    .input {
        width: 60vw;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-items: center;
        box-shadow: 0 2px 8px rgba(4, 230, 255, 0.89);

    }

    input {
        margin-top: 20px;
    }

    select {
        margin-top: 20px;
    }

    label {
        margin-top: 10px;
        color: rgb(255, 166, 0);
        text-align: right;
    }
</style>

{% endblock %}
{% block body %}
<div class="input">
    <form action="{% url 'menu_input' %}" method="POST" enctype="multipart/form-data"
        style="display: flex;flex-direction: column;">
        {% csrf_token %}
        {{form}}

        <input type="submit" style="margin-top: 10px;color: rgb(255, 166, 0);">

    </form>

</div>



{% endblock %}