{% extends 'menus/newbase.html' %}
{% block style %}

<style>
    .input {
        width: 60vw;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-items: center;
        box-shadow: 0 2px 8px rgba(4, 230, 255, 0.89);

    }

    input {
        margin-top: 20px;
    }

    select {
        margin-top: 20px;
    }

    label {
        margin-top: 10px;
        color: rgb(255, 166, 0);
        text-align: right;
    }
</style>

{% endblock %}
{% block body %}
<div class="input">
    <form action="{% url 'menu_input' %}" method="POST" enctype="multipart/form-data"
        style="display: flex;flex-direction: column;">
        {% csrf_token %}
        {{form}}

        <input type="submit" style="margin-top: 10px;color: rgb(255, 166, 0);">

    </form>

</div>
<script>
    /*
    const StarterInputElement = document.getElementById('id_starter')
    const MainInputElement = document.getElementById('id_main')
    const DessertInputElement = document.getElementById('id_dessert')
    const FORM_DATA_URL = ('/menu_input')
    getDataForm(FORM_DATA_URL)

    // console.log(StarterInputElement, '->', MainInputElement, '->', DessertInputElement)
    SelectValueToNone(StarterInputElement)
    SelectValueToNone(MainInputElement)
    SelectValueToNone(DessertInputElement)
    var Starter_dish = []
    var Main_dish = []
    var Dessrt_dish = []

    async function getDataForm(url) {
        const res = await fetch(url)
        const data = await res.json()
        data.forEach(dish => {
            if (dish.type === 'Starters') {
                Starter_dish.push(dish)
                var SelectOption = document.createElement('option')
                var x = document.createElement("OPTION");
                x.setAttribute("value", dish.title);
                var t = document.createTextNode(dish.title);
                x.appendChild(t);
                document.getElementById("id_starter").appendChild(x);
            }
            if (dish.type === 'Mains') {
                Main_dish.push(dish)
                var SelectOption = document.createElement('option')
                var x = document.createElement("OPTION");
                x.setAttribute("value", dish.title);
                var t = document.createTextNode(dish.title);
                x.appendChild(t);
                document.getElementById("id_main").appendChild(x);
            }
            if (dish.type === 'Desserts') {
                Dessrt_dish.push(dish)
                var SelectOption = document.createElement('option')
                var x = document.createElement("OPTION");
                x.setAttribute("value", dish.title);
                var t = document.createTextNode(dish.title);
                x.appendChild(t);
                document.getElementById("id_dessert").appendChild(x);
            }
            // console.log(dish.type)
        })

    }
    //console.log(Dessrt_dish)
    //console.log(StarterInputElement.children)

    function SelectValueToNone(elements) {
        let arreyElements = Array.from(elements.options)
        arreyElements.forEach(e => {
            e.value = ''
            e.innerText = ''
            elements.removeChild(e)
        })
    }

    function SelectValuePush(elements, arr) {
        var SelectOption = document.createElement('option')

        arreyElements.forEach(e => {
            console.log(e.value, e.innerText)
        })

    }
*/
</script>
{% endblock %}