{% extends 'menus/base.html' %}
{% block style %}

    {% endblock %}
    {% block body %}
    <h3>Beverige suggetion for <strong>{{title}}</strong></h3>
    <div class="input">
        <form action="{% url 'pairing' title %}" method="POST"  enctype="multipart/form-data" style="display: flex;flex-direction: column;">
            {% csrf_token %}
            {{form}}
          
            <input type="submit" style="margin-top: 10px;">
            <p>Example picture: https://radoslav77.github.io/pictures/images/noPictureDesserts.jpg</p>
        </form>
        
    </div>
    {% endblock %}