{% extends 'menus/base.html' %} 



{% block body %}

<h1>{{data}}</h1>
<p>Name of the dish;</p>
<p>Starter</p>
<div class="name-starter" id="salad">
    <h2>{{dish1}}</h2>
</div>
<a href="media\{{dish1.image}}">
    <img id="pic" src="media/{{dish1.image}}" alt=""></img>
</a>
<h2>
    <div class="drink" id="starter" >
       <!-- <input type="button" value="" id="starter">-->
    </div>
</h2>
<div class="contain" id="starter_alergy" >
    <h2>Contains:</h2>
    <div class="allergy" hidden></div>
    <div class="soya" hidden></div>
    <div class="peanuts" hidden></div>
    <div class="glutens" hidden></div>
    <div class="dairies" hidden></div>
    <div class="nuts" hidden></div>
    <div class="celery" hidden></div>
    <div class="crustaceans" hidden></div>
    <div class="fish" hidden></div>
    <div class="lupin" hidden></div>
    <div class="molluscs" hidden></div>
    <div class="mustard" hidden></div>
    <div class="sesame" hidden></div>
    <div class="sulphites" hidden></div>
</div>
<p>Main</p>
<div class="name-main" id="mainmain">
    <h2>{{dish}}</h2>
</div>
<a href="media\{{dish.image}}">
    <img id="pic" src="media/{{dish.image}}" alt=""></img>
</a>
<h2>
    <div class="drink" id="main">

    </div>
</h2>
<div class="contain" id="main_alergy" >
    <h2>Contains:</h2>
    <div class="allergy" hidden></div>
    <div class="soya" hidden></div>
    <div class="peanuts" hidden></div>
    <div class="glutens" hidden></div>
    <div class="dairies" hidden></div>
    <div class="nuts" hidden></div>
    <div class="celery" hidden></div>
    <div class="crustaceans" hidden></div>
    <div class="fish" hidden></div>
    <div class="lupin" hidden></div>
    <div class="molluscs" hidden></div>
    <div class="mustard" hidden></div>
    <div class="sesame" hidden></div>
    <div class="sulphites" hidden></div>
</div>
<p>Dessert</p>
<div class="name-dessert" id="des" >
    <h2>{{dish2}}</h2>
</div>
<a href="media\{{dish2.image}}">
    <img id="pic" src="media/{{dish2.image}}" alt=""></img>
</a>
<h2>
<div class="drink" id="dessert">

</div><br><br>
<div id="info" style="height: 200px; width: 400px;  border: 2px solid blue;">

</div>
</h2>
<div class="contain" id="desserts_alergy" >
    <h2>Contains:</h2>
    <div class="allergy" hidden></div>
    <div class="soya" hidden></div>
    <div class="peanuts" hidden></div>
    <div class="glutens" hidden></div>
    <div class="dairies" hidden></div>
    <div class="nuts" hidden></div>
    <div class="celery" hidden></div>
    <div class="crustaceans" hidden></div>
    <div class="fish" hidden></div>
    <div class="lupin" hidden></div>
    <div class="molluscs" hidden></div>
    <div class="mustard" hidden></div>
    <div class="sesame" hidden></div>
    <div class="sulphites" hidden></div>
</div>
<p>Suggested drink with the dish:</p> 
<h1>{{drinks}}</h1>



{% endblock %}