{% extends 'menus/base.html' %}
{% block style %}
<style>
    a {
        margin: 10px;
    }

    ul {
        display: flexbox;
        flex-wrap: wrap;
    }
</style>

{% endblock %}
{% block body %}


<div class="delete">
    <a href="#">Delete Menu</a>
</div>

<p id="drinkparagraph">Your drinks for Tonight's Dinner!</p>

<h1 id="drinktitle"></h1>

<div class="menu-container">
    <div class="dish-container">
        <p>Your Starter course today:</p>

        <div class="name-starter" id="salad">
            <h2 id="name"></h2>
        </div>
        <!--<a href="/media/{{dish1.image}}">
            <img id="pic" src="/media/{{dish1.image}}" alt="" width="400" height="300"></img>
        </a>-->

        <div class="description" id="starter-description">

        </div>
        <div class="container-drinks">
            <p id="drink">For best expirients here are the pairing choices for your meal!</p>
            <div class="drink" id="starter">

                <!-- <input type="button" value="" id="starter">-->
            </div>
        </div>
        <div class="contain" id="starter_alergy">
            <h2>Contains:</h2>
            <div class="allergy" hidden></div>
            <div class="soya" hidden></div>
            <div class="peanuts" hidden></div>
            <div class="glutens" hidden></div>
            <div class="dairies" hidden></div>
            <div class="nuts" hidden></div>
            <div class="celery" hidden></div>
            <div class="crustaceans" hidden></div>
            <div class="fish" hidden></div>
            <div class="lupin" hidden></div>
            <div class="molluscs" hidden></div>
            <div class="mustard" hidden></div>
            <div class="sesame" hidden></div>
            <div class="sulphites" hidden></div>
        </div>
    </div>
    <div class="dish-container">
        <p>Your Main course today:</p>
        <div class="name-main" id="mainmain">
            <h2 id="name"></h2>
        </div>
        <!--<a href="/media/{{dish.image}}">
            <img id="pic" src="/media/{{dish.image}}" alt="" width="400" height="300"></img>
        </a>-->
        <div class="description" id="main-description">

        </div>
        <div class="container-drinks">
            <p id="drink">For best expirients here are the pairing choices for your meal!</p>
            <div class="drink" id="main">

            </div>
        </div>

        <div class="contain" id="main_alergy">
            <h2>Contains:</h2>
            <div class="allergy" hidden></div>
            <div class="soya" hidden></div>
            <div class="peanuts" hidden></div>
            <div class="glutens" hidden></div>
            <div class="dairies" hidden></div>
            <div class="nuts" hidden></div>
            <div class="celery" hidden></div>
            <div class="crustaceans" hidden></div>
            <div class="fish" hidden></div>
            <div class="lupin" hidden></div>
            <div class="molluscs" hidden></div>
            <div class="mustard" hidden></div>
            <div class="sesame" hidden></div>
            <div class="sulphites" hidden></div>
        </div>
    </div>
    <div class="dish-container">
        <p>Your Dessert course today:</p>
        <div class="name-dessert" id="des">
            <h2 id="name"></h2>
        </div>
        <!--<a href="/media/{{dish2.image}}">
            <img id="pic" src="/media/{{dish2.image}}" alt="" width="400" height="300"></img>
        </a>-->
        <div class="description" id="dessert-description">

        </div>
        <div class="container-drinks">
            <p id="drink">For best expirients here are the pairing choices for your meal!</p>
            <div class="drink" id="dessert">


            </div>
        </div>


        <div class="contain" id="desserts_alergy">
            <h2>Contains:</h2>
            <div class="allergy" hidden></div>
            <div class="soya" hidden></div>
            <div class="peanuts" hidden></div>
            <div class="glutens" hidden></div>
            <div class="dairies" hidden></div>
            <div class="nuts" hidden></div>
            <div class="celery" hidden></div>
            <div class="crustaceans" hidden></div>
            <div class="fish" hidden></div>
            <div class="lupin" hidden></div>
            <div class="molluscs" hidden></div>
            <div class="mustard" hidden></div>
            <div class="sesame" hidden></div>
            <div class="sulphites" hidden></div>
        </div>
    </div>

</div>
<div class="ul">
    <ul id="js_input">

    </ul>
</div>
<script>
    const JS_DISH_DATA = ('/js-dish')
    getDataDish(JS_DISH_DATA)
    const URL_DATA_ALERGY = ('/alergy')
    getAlergyOption(URL_DATA_ALERGY)


    var DataDish = []
    var DataRecipe = []
    var Dish = []

    async function getDataDish(url) {
        const res = await fetch(url)
        const data = await res.json()

        data.forEach(element => {
            DataDish.push(element)
            CreateEl(element)
        });

    }

    async function getAlergyOption(url) {
        const res = await fetch(url)
        const data = await res.json()

        data.forEach(element => {
            DataRecipe.push(element)
            //console.log(element.dish)
            DataRecipe.forEach(rec => {
                if (element.dish === rec.dish) {
                    Dish.push(element)
                }
            })

        })
    }
    /*
    var v = []
    Dish.forEach(i => {
        if (Dish.includes(i.dish)) {
            v.push(i)
            let j = marge(i, v)

        }
        console.log(i)
    })*/

    console.log(DataRecipe, '->', DataDish, '->', Dish)


    var v = Array.from(DataDish)
    console.log(DataDish)
    v.forEach(item => {
        console.log(item)
    })

    function CreateEl(arr) {
        var createUl = document.createElement('a')
        createUl.innerHTML = arr.title
        let Nametitle = arr.title
        createUl.href = `/detail/${Nametitle}`
        document.getElementById('js_input').appendChild(createUl)
    }

    const allergents = {
        dairy: ['Milk', 'Butter', 'Cream', 'Yoghurt', 'Cheese'],
        gluten: ['Flour', 'Oats', 'Barley', 'Waffle'],
        nuts: ['Almonds', 'Almond', 'Walnuts', 'Walnut', 'Pecans', 'Pecan', 'Cashews', 'Cashew', 'Pistachios', 'Pistachio', 'Hazelnuts', 'Hazelnut',
            'Brazil', 'Brazils', 'Macadamia', 'Macadamias', 'Chestnut', 'Chestnuts', 'Filbert', 'Filberts', 'Hickory', 'Hickories', 'Pinenuts', 'Pinenut', 'Pine', 'Coconut', 'Coconuts'],
        eggs: ['Egg', 'Eggs', 'Yolks', 'Yolk', 'Whites', /*'White'*/],
        peanut: ['Peanut', 'Peanuts', 'Peanutbutter', 'Peanut butter'],
        celery: ['Celery', 'Celery salt'],
        crustaceans: ['Prawns', 'Prawn', 'Crabs', 'Crab', 'Lobster', 'Lobsters'],
        fish: ['Fish'],
        lupin: ['Lupin'],
        molluscs: ['Mussels', 'Mussel', 'Oysters', 'Oyster'],
        mustard: ['Mustard', 'Mustards'],
        sesame: ['Sesame', 'Sesames'],
        soy: ['Soybean', 'Soybeans', 'Soyabean', 'Soyabeans', 'Soy', 'Soya', 'Chocolate', 'Chocolates', 'White chocolate', 'Cocoa butter'],
        sulphites: ['Cheese', 'Glucose', 'Glaze', 'Gel', 'Wine', 'Rum', 'Vodka', 'Gin']
    }


</script>
{% endblock %}