{% extends 'menus/base.html' %}
{% load static %}
{% block style %}
<style>
    .drinkWrapper {
        margin-left: 5px;
        width: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    }

    body {
        margin-bottom: 50px;
    }

    @media screen and (max-width: 800px) {
        .detail-container {
            width: 80%;
        }
    }
</style>

{% endblock %}

{% block body %}
{% for d in data %}

<h1>{{d.title}}</h1>
{% endfor %}

{% for d in data %}
<div class="detail-container">
    <div class="dish-container">
        <p>Here are details about: {{d.title}}</p>

        <div class="name-starter" id="salad">
            <h2 id="name">{{d.title}}</h2>
        </div>
        <a href="/media/{{d.image}}">
            <img id="pic" src="/media/{{d.image}}" alt="" width="400" height="300"></img>
        </a>

        <div class="description" id="starter-description">
            {{d.description}}
        </div>
        <div class="container-drinks">
            <p id="drink">For best expirients here are the pairing choices for your meal!</p>
            {% for drink in drinks %}
            <div class="drink" id="starter">
                <p id="drinkTitle">{{drink.title}}</p>
                <!-- <input type="button" value="" id="starter">-->
            </div>
            {% endfor %}
        </div>
        <div class="contain" id="starter_alergy">
            <h2>Contains:</h2>
            <div class="allergy" hidden></div>
            <div class="soya" hidden></div>
            <div class="peanuts" hidden></div>
            <div class="glutens" hidden></div>
            <div class="dairies" hidden></div>
            <div class="nuts" hidden></div>
            <div class="celery" hidden></div>
            <div class="crustaceans" hidden></div>
            <div class="fish" hidden></div>
            <div class="lupin" hidden></div>
            <div class="molluscs" hidden></div>
            <div class="mustard" hidden></div>
            <div class="sesame" hidden></div>
            <div class="sulphites" hidden></div>
        </div>
    </div>

    <div class="drinkWrapper">

        <div class="info">
            {% for info in drinks %}
            <div id="info">{{info.description}}</div>
            {% endfor %}
            <div class="drink-allergy">
                <div class="drink-contain" id="drink-contain">
                    <h3>Contains:</h3>
                    <p id="sulph" hidden></p>
                    <p id="glut" hidden></p>
                    <p id="try"></p>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="recipe" id="recipe" hidden>
    <ul>
        {% for ing in recipes %}
        <li>{{ing}}</li>
        {% endfor %}
    </ul>
</div>
<script src="{% static 'suggested-detail.js' %}"></script>
<script>

</script>
{% endfor %}


{% endblock %}