{% extends 'menus/base.html' %}

{% block style %}
<style>
    .drinkWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>

{% endblock %}

{% block body %}
{% for d in data %}

<h1>{{d.title}}</h1>
{% endfor %}

{% for d in data %}
<div class="detail-container">
    <div class="dish-container">
        <p>Here are details about: {{d.title}}</p>

        <div class="name-starter" id="salad">
            <h2 id="name">{{d.title}}</h2>
        </div>
        <a href="/media/{{d.image}}">
            <img id="pic" src="/media/{{d.image}}" alt="" width="400" height="300"></img>
        </a>

        <div class="description" id="starter-description">
            {{d.description}}
        </div>
        <div class="container-drinks">
            <p id="drink">For best expirients here are the pairing choices for your meal!</p>
            {% for drink in drinks %}
            <div class="drink" id="starter">
                <p>{{drink.title}}</p>
                <!-- <input type="button" value="" id="starter">-->
            </div>
            {% endfor %}
        </div>
        <div class="contain" id="starter_alergy">
            <h2>Contains:</h2>
            <div class="allergy" hidden></div>
            <div class="soya" hidden></div>
            <div class="peanuts" hidden></div>
            <div class="glutens" hidden></div>
            <div class="dairies" hidden></div>
            <div class="nuts" hidden></div>
            <div class="celery" hidden></div>
            <div class="crustaceans" hidden></div>
            <div class="fish" hidden></div>
            <div class="lupin" hidden></div>
            <div class="molluscs" hidden></div>
            <div class="mustard" hidden></div>
            <div class="sesame" hidden></div>
            <div class="sulphites" hidden></div>
        </div>
    </div>
    <div class="drinkWrapper">
        <div class="info">
            <div id="info"></div>
            <div class="drink-allergy">
                <div class="drink-contain" id="drink-contain">
                    <h3>Contains:</h3>
                    <p id="sulph" hidden></p>
                    <p id="glut" hidden></p>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="recipe">
    {{recipes}}
</div>
{% endfor %}


{% endblock %}