{% extends 'menus/base.html' %}

{% block style %}
<style>
    .drinkWrapper {
        margin-left: 5px;
        width: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    }
</style>

{% endblock %}

{% block body %}
{% for d in data %}

<h1>{{d.title}}</h1>
{% endfor %}

{% for d in data %}
<div class="detail-container">
    <div class="dish-container">
        <p>Here are details about: {{d.title}}</p>

        <div class="name-starter" id="salad">
            <h2 id="name">{{d.title}}</h2>
        </div>
        <a href="/media/{{d.image}}">
            <img id="pic" src="/media/{{d.image}}" alt="" width="400" height="300"></img>
        </a>

        <div class="description" id="starter-description">
            {{d.description}}
        </div>
        <div class="container-drinks">
            <p id="drink">For best expirients here are the pairing choices for your meal!</p>
            {% for drink in drinks %}
            <div class="drink" id="starter">
                <p id="drinkTitle">{{drink.title}}</p>
                <!-- <input type="button" value="" id="starter">-->
            </div>
            {% endfor %}
        </div>
        <div class="contain" id="starter_alergy">
            <h2>Contains:</h2>
            <div class="allergy" hidden></div>
            <div class="soya" hidden></div>
            <div class="peanuts" hidden></div>
            <div class="glutens" hidden></div>
            <div class="dairies" hidden></div>
            <div class="nuts" hidden></div>
            <div class="celery" hidden></div>
            <div class="crustaceans" hidden></div>
            <div class="fish" hidden></div>
            <div class="lupin" hidden></div>
            <div class="molluscs" hidden></div>
            <div class="mustard" hidden></div>
            <div class="sesame" hidden></div>
            <div class="sulphites" hidden></div>
        </div>
    </div>

    <div class="drinkWrapper">

        <div class="info">
            {% for info in drinks %}
            <div id="info">{{info.description}}</div>
            {% endfor %}
            <div class="drink-allergy">
                <div class="drink-contain" id="drink-contain">
                    <h3>Contains:</h3>
                    <p id="sulph" hidden></p>
                    <p id="glut" hidden></p>
                    <p id="try"></p>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="recipe" id="recipe">
    <ul>
        {% for ing in recipes %}
        <li>{{ing}}</li>
        {% endfor %}
    </ul>
</div>

<script>
    const URL_DRINK_ING = ('/beverage_ing')
    GetDataDrink(URL_DRINK_ING)
    const titleDrink = document.getElementById('drinkTitle').innerHTML
    const entryInfo = document.getElementById('try')

    async function GetDataDrink(url) {
        const res = await fetch(url)
        const data = await res.json()

        data.forEach(entry => {
            let titles = []
            titles.push(entry.title)
            if (entry.title == titleDrink) {
                entryInfo.innerHTML = entry.ingredients
            }

        });
        //console.log(data)
    }
    const ingredient = {
        dairy: ['Milk', 'Butter', 'Cream', 'Yoghurt', 'Cheese'],
        gluten: ['Flour', 'Oats', 'Barley', 'Waffle'],
        nuts: ['Almonds', 'Almond', 'Walnuts', 'Walnut', 'Pecans', 'Pecan', 'Cashews', 'Cashew', 'Pistachios', 'Pistachio', 'Hazelnuts', 'Hazelnut',
            'Brazil', 'Brazils', 'Macadamia', 'Macadamias', 'Chestnut', 'Chestnuts', 'Filbert', 'Filberts', 'Hickory', 'Hickories', 'Pinenuts', 'Pinenut', 'Pine', 'Coconut', 'Coconuts'],
        eggs: ['Egg', 'Eggs', 'Yolks', 'Yolk', 'Whites', /*'White'*/],
        peanut: ['Peanut', 'Peanuts', 'Peanutbutter'],
        celery: ['Celery'],
        crustaceans: ['Prawns', 'Prawn', 'Crabs', 'Crab', 'Lobster', 'Lobsters'],
        fish: ['Fish'],
        lupin: ['Lupin'],
        molluscs: ['Mussels', 'Mussel', 'Oysters', 'Oyster'],
        mustard: ['Mustard', 'Mustards'],
        sesame: ['Sesame', 'Sesames'],
        soy: ['Soybean', 'Soybeans', 'Soyabean', 'Soyabeans', 'Soy', 'Soya', 'Chocolate', 'Chocolates', 'White chocolate', 'Cocoa butter'],
        sulphites: ['Cheese', 'Glucose', 'Glaze', 'Gel', 'Wine', 'Rum', 'Vodka', 'Gin']
    }

    const recipeData = document.getElementById('recipe')
    let dataText = []
    const i = recipeData.innerText.split('\n')
    var NewItem = []
    i.forEach(item => {

        let j = item.split(',')
        NewItem.push(j)
        //console.log(NewItem)
    })

    //console.log(i)

    ContainAllergents()


    function ContainAllergents() {
        NewItem.forEach(e => {
            //console.log(e)
            e.forEach(i => {
                var num = i.split(/\s+/)
                //console.log(num)
                //console.log(i)

                //var num = e.split(/\s+/)
                //
                var dairies = ingredient.dairy
                var glutens = ingredient.gluten
                var nuts = ingredient.nuts
                var eggs = ingredient.eggs
                var peanuts = ingredient.peanut
                var celery = ingredient.celery
                var crustaceans = ingredient.crustaceans
                var fish = ingredient.fish
                var lupin = ingredient.lupin
                var molluscs = ingredient.molluscs
                var mustard = ingredient.mustard
                var sesame = ingredient.sesame
                var soya = ingredient.soy
                var sulphites = ingredient.sulphites

                peanuts.forEach(all => {
                    const found = num.find(element => element.toLowerCase() === all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const PeanutData = document.querySelector('.peanuts')
                        PeanutData.hidden = false
                        PeanutData.innerText = 'Peanuts,'

                    }
                })

                eggs.forEach((all, idx) => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const viewData = document.querySelector('.allergy')
                        viewData.hidden = false
                        viewData.innerHTML = 'Eggs,'

                    }


                })

                glutens.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const GlutenData = document.querySelector('.glutens')
                        GlutenData.hidden = false
                        GlutenData.innerText = 'Gluten,'

                    }
                })

                dairies.forEach(all => {
                    //console.log(all)
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all.toLowerCase() || found == all) {
                        const DairyData = document.querySelector('.dairies')
                        DairyData.hidden = false
                        DairyData.innerText = 'Dairy,'

                    }
                })

                nuts.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const NutsData = document.querySelector('.nuts')
                        NutsData.hidden = false
                        NutsData.innerText = 'Nuts,'

                    }
                })

                celery.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const CeleryData = document.querySelector('.celery')
                        CeleryData.hidden = false
                        CeleryData.innerText = 'Celery,'

                    }
                })

                crustaceans.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const CrustaceansData = document.querySelector('.crustaceans')
                        CrustaceansData.hidden = false
                        CrustaceansData.innerText = 'Crustaceans,'

                    }
                })

                fish.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const FishData = document.querySelector('.fish')
                        FishData.hidden = false
                        FishData.innerText = 'Fish,'

                    }
                })

                lupin.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const LupinData = document.querySelector('.lupin')
                        LupinData.hidden = false
                        LupinData.innerText = 'Lupin,'

                    }
                })

                molluscs.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const MolluscsData = document.querySelector('.molluscs')
                        MolluscsData.hidden = false
                        MolluscsData.innerText = 'Molluscs,'

                    }
                })

                mustard.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const MustardData = document.querySelector('.mustard')
                        MustardData.hidden = false
                        MustardData.innerText = 'Mustard,'

                    }
                })

                sesame.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const SesameData = document.querySelector('.sesame')
                        SesameData.hidden = false
                        SesameData.innerText = 'Sesame,'

                    }
                })

                soya.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const soyaData = document.querySelector('.soya')
                        soyaData.hidden = false
                        soyaData.innerHTML = 'Soya,'

                    }
                })

                sulphites.forEach(all => {
                    const found = num.find(element => element.toLowerCase() == all.toLowerCase())
                    if (found == all || found == all.toLowerCase()) {
                        const SulphitesData = document.querySelector('.sulphites')
                        SulphitesData.hidden = false
                        SulphitesData.innerText = 'Sulphites,'

                    }
                })

            })
        })
    }
</script>
{% endfor %}


{% endblock %}