.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}
.img {
  width: 400px;
  height: 300px;
  margin: 10px;
  box-shadow: 0 0 4px rgb(0, 0, 0);
}
img {
  object-fit: fill;
}
.container {
  box-shadow: 0 0 5px rgba(0, 0, 1, 0.999);
  margin: 20px;
  padding: 15px;
}
.recipe-container {
  background-color: #f1f1f1;
  width: 90vw;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 1, 0.999);
  margin-bottom: 50px;
}
h3 {
  text-transform: uppercase;
  text-indent: 10px;
  letter-spacing: 1px;
  text-decoration-line: underline;
}
.list li {
  list-style-type: none;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 30px;
  margin-left: -30px;
}
.list li #link {
  text-decoration: none;
}
#link:link {
  text-decoration: none;
}
